<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MTG Exchange</title>
    <link href="../css/homeStyle.css" rel="stylesheet">
</head>
<body>
    <header class="navbar-container">
        <div class="head logo">
            <img src= "../Design/mtg-logo-home.png" width="100%" alt="logo MTG">
        </div>
        <div class="head title">
                <h1>MTG EXCHANGE</h1>
                <input class="search" type="text" name="Buscador" id="buscador" placeholder="Buscar productos, marcas y más" size="100%">
        </div>
        <div class="head menu">
            <nav>
                <ul>
                        <li></li><a href="/login">Crea tu cuenta</a></li>
                        <li><a href="/login">Ingresá</a></li>
                        <li><a href="">Mis Compras</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <main>
        <div class="links">
        
                <button><a href="/">Comprar</a></button>
                <button><a href="/">Vender</a></button>
                <button><a href="/">Recomendaciones</a></button>
                <button><a href="/">Aprendé a jugar</a></button>
            
        </div>
        <div class="banner">
            <a href="/">Banner</a>

        </div>


    </main>
    
</body>
</html>