<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ("./partials/head-partial.ejs") %>
</head>

<body>
  
  <%- include ("./partials/header-partial.ejs") %>

<section>
  <div class="item-carrito">
     <div class="img-item-carrito">
       <img src="../images/multani.jpg" alt="">
     </div>
     <p class="nombre-item-carrito">Angel de Serra</p>
     <p class="edicion-item-carrito">Legado de Urza</p>
     <p class="condicion-item-carrito">Usado</p>
     <input type="number" class="unidades" value="1">
     <i class='fas fa-plus' style="color:gray"></i>
     <i class='fas fa-minus' style="color:gray"></i>
     <i class='fas fa-times' style="color:red"></i>
   </div>
   <div class="item-carrito">
    <div class="img-item-carrito">
      <img src="../images/multani.jpg" alt="">
    </div>
    <p class="nombre-item-carrito">Angel de Serra</p>
    <p class="edicion-item-carrito">Legado de Urza</p>
    <p class="condicion-item-carrito">Usado</p>
    <input type="number" class="unidades" value="1">
    <i class='fas fa-plus' style="color:gray"></i>
    <i class='fas fa-minus' style="color:gray"></i>
    <i class='fas fa-times' style="color:red"></i>
  </div>
  <div class="item-carrito">
    <div class="img-item-carrito">
      <img src="../images/multani.jpg" alt="">
    </div>
    <p class="nombre-item-carrito">Angel de Serra</p>
    <p class="edicion-item-carrito">Legado de Urza</p>
    <p class="condicion-item-carrito">Usado</p>
    <input type="number" class="unidades" value="1">
    <i class='fas fa-plus' style="color:gray"></i>
    <i class='fas fa-minus' style="color:gray"></i>
    <i class='fas fa-times' style="color:red"></i>
  </div>
  <div class="item-carrito">
    <div class="img-item-carrito">
      <img src="../images/multani.jpg" alt="">
    </div>
    <p class="nombre-item-carrito">Angel de Serra</p>
    <p class="edicion-item-carrito">Legado de Urza</p>
    <p class="condicion-item-carrito">Usado</p>
    <input type="number" class="unidades" value="1">
    <i class='fas fa-plus' style="color:gray"></i>
    <i class='fas fa-minus' style="color:gray"></i>
    <i class='fas fa-times' style="color:red"></i>
  </div>
  <div class="item-carrito">
    <div class="img-item-carrito">
      <img src="../images/multani.jpg" alt="">
    </div>
    <p class="nombre-item-carrito">Angel de Serra</p>
    <p class="edicion-item-carrito">Legado de Urza</p>
    <p class="condicion-item-carrito">Usado</p>
    <input type="number" class="unidades" value="1">
    <i class='fas fa-plus' style="color:gray"></i>
    <i class='fas fa-minus' style="color:gray"></i>
    <i class='fas fa-times' style="color:red"></i>
  </div>
  <div class="item-carrito">
    <div class="img-item-carrito">
      <img src="../images/multani.jpg" alt="">
    </div>
    <p class="nombre-item-carrito">Angel de Serra</p>
    <p class="edicion-item-carrito">Legado de Urza</p>
    <p class="condicion-item-carrito">Usado</p>
    <input type="number" class="unidades" value="1">
    <i class='fas fa-plus' style="color:gray"></i>
    <i class='fas fa-minus' style="color:gray"></i>
    <i class='fas fa-times' style="color:red"></i>
  </div>
  <div class="item-carrito">
    <div class="img-item-carrito">
      <img src="../images/multani.jpg" alt="">
    </div>
    <p class="nombre-item-carrito">Angel de Serra</p>
    <p class="edicion-item-carrito">Legado de Urza</p>
    <p class="condicion-item-carrito">Usado</p>
    <input type="number" class="unidades" value="1">
    <i class='fas fa-plus' style="color:gray"></i>
    <i class='fas fa-minus' style="color:gray"></i>
    <i class='fas fa-times' style="color:red"></i>
  </div>
  <div class="item-carrito">
    <div class="img-item-carrito">
      <img src="../images/multani.jpg" alt="">
    </div>
    <p class="nombre-item-carrito">Angel de Serra</p>
    <p class="edicion-item-carrito">Legado de Urza</p>
    <p class="condicion-item-carrito">Usado</p>
    <input type="number" class="unidades" value="1">
    <i class='fas fa-plus' style="color:gray"></i>
    <i class='fas fa-minus' style="color:gray"></i>
    <i class='fas fa-times' style="color:red"></i>
  </div>
  <div class="item-carrito">
    <div class="img-item-carrito">
      <img src="../images/multani.jpg" alt="">
    </div>
    <p class="nombre-item-carrito">Angel de Serra</p>
    <p class="edicion-item-carrito">Legado de Urza</p>
    <p class="condicion-item-carrito">Usado</p>
    <input type="number" class="unidades" value="1">
    <i class='fas fa-plus' style="color:gray"></i>
    <i class='fas fa-minus' style="color:gray"></i>
    <i class='fas fa-times' style="color:red"></i>
  </div>
  <div class="item-carrito">
    <div class="img-item-carrito">
      <img src="../images/multani.jpg" alt="">
    </div>
    <p class="nombre-item-carrito">Angel de Serra</p>
    <p class="edicion-item-carrito">Legado de Urza</p>
    <p class="condicion-item-carrito">Usado</p>
    <input type="number" class="unidades" value="1">
    <i class='fas fa-plus' style="color:gray"></i>
    <i class='fas fa-minus' style="color:gray"></i>
    <i class='fas fa-times' style="color:red"></i>
  </div>
  <div class="item-carrito">
    <div class="img-item-carrito">
      <img src="../images/multani.jpg" alt="">
    </div>
    <p class="nombre-item-carrito">Angel de Serra</p>
    <p class="edicion-item-carrito">Legado de Urza</p>
    <p class="condicion-item-carrito">Usado</p>
    <input type="number" class="unidades" value="1">
    <i class='fas fa-plus' style="color:gray"></i>
    <i class='fas fa-minus' style="color:gray"></i>
    <i class='fas fa-times' style="color:red"></i>
  </div>
  <div class="item-carrito">
    <div class="img-item-carrito">
      <img src="../images/multani.jpg" alt="">
    </div>
    <p class="nombre-item-carrito">Angel de Serra</p>
    <p class="edicion-item-carrito">Legado de Urza</p>
    <p class="condicion-item-carrito">Usado</p>
    <input type="number" class="unidades" value="1">
    <i class='fas fa-plus' style="color:gray"></i>
    <i class='fas fa-minus' style="color:gray"></i>
    <i class='fas fa-times' style="color:red"></i>
  </div>


</section>

<div class="total">
<h1>TOTAL</h1>
<h1>$1000.-</h1>
<button type="submit">Seguir comprando</button>
<button type="submit">Finalizar con la compra</button>
</div>

<footer>
  "Here sprouted the first seedling of Argoth. Here the last tree will fall."
</footer>

</body>
</html>