<!DOCTYPE html>
<html lang="en">
<head>
  <head>
    <%- include ./partials/head-partial.ejs %>
  </head>
  
  <body>
    
    <%- include ./partials/header-partial.ejs %>

<section>
  
<div>
<% for (let i=0; i < 10; i++) { %>
<li>
  <img src="<%= listadoProductos[i].imageUrl %>"><p><%=listadoProductos[i].name %></p>
</li>  
<%}%>
</div>
<!--<div><img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=3825&type=card" onclick="changeIt(this)" alt=""></div> -->

<div><img id="imageBox" src="" alt=""></div>


<!-- "../images/multani.jpg" -->

</section>

<footer>
  "Here sprouted the first seedling of Argoth. Here the last tree will fall."
</footer>
</body>
</html>