<!DOCTYPE html>
<html lang="en">
<head>
  <head>
    <%- include ./partials/head-partial.ejs %>
  </head>
  
  <body>
    
    <%- include ./partials/header-partial.ejs %>

<section>
  


<div><img src="../images/multani.jpg" onclick="changeIt(this)" alt=""></div>

<div><img id="imageBox" src="" alt=""></div>










</section>

<footer>
  "Here sprouted the first seedling of Argoth. Here the last tree will fall."
</footer>
</body>
</html>