<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ./partials/head-partial.ejs %>
</head>

<body class="login-body">
    
    <%- include ./partials/header-partial.ejs %>

<div class="contact-div">
    <form action="">
        <input type="name" placeholder="Nombre/s"> <br>
        <input type="name" placeholder="Apellido"> <br>
        <textarea  placeholder="hola" rows="10" cols="30" name="comment">
        </textarea> <br>
        <button type="submit">Enviar</button>
        <button type="submit">Borrar</button>
    </form>
</div>

<footer>
  "Here sprouted the first seedling of Argoth. Here the last tree will fall."
</footer>


</body>
</html>