<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ("./partials/head-partial.ejs") %>
    
</head>

<body>
  <%- include ("./partials/header-partial.ejs") %>


<section class="detalle-section">
    <div class="detalle-img">
      <img  src=../images/5.jpg alt="" width="100%"> 

    </div>

    <div class="detalle-datos">
        <p class=carta-nombre>Rotting Regisaur</p>
        <p class=carta-costemana>2 B</p>
        <p class=carta-edicion>M20</p>
        <p class=carta-rareza>Rara</p>
        <p class=carta-tipo>Criatura</p>
        <p class=carta-subtipo>Zombie Dinosaurio</p>
        <p class=carta-fueyres>7/6</p>
        <p class=carta-texto>Al comienzo de tu fase de enderezar, descarta una carta de tu mano.</p>
        <p class=carta-textoadicional>"Ahora, eso es un zombie!" - Modriss de Zargoth Fen</p>
        <p class=carta-artista>artista</p>
    </div>
</section>

<button id="agregar-carrito" type="Submit">Agregar al carrito</button>

<section class=carta-comentarios>Opiniones de jugadores:
 
<p class="comentario">Debido a que el costo de mantenimiento es antes del paso de robar, descartas por la habilidad disparada de Rotting Regisaur antes de robar una carta para tu turno... no me sirve</p>

<p class="comentario" date="date">
  Lo bueno es que si el partido esta avanzado y no tenes cartas en la mano cuando se resuelve la habilidad, no descartas ninguna carta y no hay penalización!!</p>
<p class="comentario">Es zombie y dinosauri, es muy util para un mazo tematico, recibiria bonus muy facilmente.</p>
<p class="comentario">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
</p>
<p class="comentario">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias sed sint dolorem quibusdam sequi repudiandae. Doloribus officiis eum sunt impedit aliquid odio excepturi esse inventore expedita sapiente, ratione eveniet laborum.</p>
<p class="comentario">chau chau!</p>
</section>
</body>

<footer>
  "Here sprouted the first seedling of Argoth. Here the last tree will fall."</footer>
</html>