<!DOCTYPE html>
<html lang="en">
<head>
    
  <%- include ("./partials/head-partial.ejs") %>

</head>

<body>

  <%- include ("./partials/header-partial.ejs") %>


<section>
    <article><a href="detalle"><img src="../images/1.jpg"  alt=""></a></article>
    <article><a href="detalle"><img src="../images/2.jpg" alt=""></a></article>
    <article><a href="detalle"><img src="../images/3.jpg" alt=""></a></article>
    <article><a href="detalle"><img src="../images/4.jpg" alt=""></a></article>
    <article><a href="detalle"><img src="../images/5.jpg" alt=""></a></article>
    <article><a href="detalle"><img src="../images/6.jpg" alt=""></a></article>
    <article><a href="detalle"><img src="../images/7.jpg" alt=""></a></article>
    <article><a href="detalle"><img src="../images/8.jpg" alt=""></a></article>
    <article><a href="detalle"><img src="../images/9.jpg" alt=""></a></article>
    <article><a href="detalle"><img src="../images/10.jpg" alt=""></a></article>
    <article><a href="detalle"><img src="../images/11.jpg" alt=""></a></article>
    <article><a href="detalle"><img src="../images/12.jpg" alt=""></a></article>
    <article><a href="detalle"><img src="../images/1.jpg" alt=""></a></article>
    <article><a href="detalle"><img src="../images/2.jpg" alt=""></a></article>
    <article><a href="detalle"><img src="../images/3.jpg" alt=""></a></article>
    <article><a href="detalle"><img src="../images/4.jpg" alt=""></a></article>
    <article><a href="detalle"><img src="../images/5.jpg" alt=""></a></article>
    <article><a href="detalle"><img src="../images/6.jpg" alt=""></a></article>
    <article><a href="detalle"><img src="../images/7.jpg" alt=""></a></article>
    <article><a href="detalle"><img src="../images/8.jpg" alt=""></a></article>
    <article><a href="detalle"><img src="../images/9.jpg" alt=""></a></article>
    <article><a href="detalle"><img src="../images/10.jpg" alt=""></a></article>
    <article><a href="detalle"><img src="../images/11.jpg" alt=""></a></article>
    <article><a href="detalle"><img src="../images/12.jpg" alt=""></a></article>
    
   
</section>

<footer>
  "Here sprouted the first seedling of Argoth. Here the last tree will fall."
</footer>
</body>
</html>