<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("./partials/head-partial.ejs") %>
</head>

<body class="login-body">
    
   
  <%- include ("./partials/header-partial.ejs") %>


<div class="login-div">
    <form action="">
        <input type="username" placeholder="Nombre de usuario"> <br>
        <input type="password" placeholder="Contraseña"> <br>
        <button type="submit">Iniciar Sesión</button> <br>
        <a href="" style=color:lightblue>Olvidaste tu contraseña?</a>
    </form>
</div>

<footer>
  "Here sprouted the first seedling of Argoth. Here the last tree will fall."
</footer>





</body>
</html>