<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ./partials/head-partial.ejs %>
</head>

<body class="login-body">
    
    <%- include ./partials/header-partial.ejs %>



<div class="register-div">

    <form action="/productos/create" method="POST">
        <input type="text" placeholder="Nombre de la carta" name="cardName"> <br>
        <input type="text" placeholder="Costo de Maná" name="manaCost"> <br>
        <input type="text" placeholder="Tipo" name="type"> <br>
        <input type="text" placeholder="Información de la carta (Habilidad)" name="hability"> <br>
        <input type="text" placeholder="Frase" name="frase"> <br>
        <input type="text" placeholder="Ataque" name="attack" >
        <input type="text" placeholder="Dureza" name="hardeness" ><br>
        <input type="text" placeholder="Expansión" name="expansion"> <br>
        <input type="text" placeholder="Rareza" name="rarity"> <br>
        <input type="text" placeholder="Artista" name="artist"> <br>
        

        <button type="submit">Alta Producto</button>
        <button type="reset" >Borrar campos</button>

    </form>
</div>
<footer>
  "Here sprouted the first seedling of Argoth. Here the last tree will fall."
</footer>






</body>
</html>