<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MTG Exchange</title>
    <link href= "../stylesheets/style.css" rel="stylesheet">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="../menu-hover.js"></script>
    <script src="../app.js"></script>
    <link rel="shortcut icon" type="image/jpg" href="../images/favicon.png"/>